<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<div class="container text-center">
    <h1>ABOUT US</h1>
</div>
<a href = "{% url 'home' %}" class="btn btn-warning">HOME</a>
<br>
<br>
<h0>Hey there, my name is Ioannis Volakakis and this is my first website ever. I am not good at Django and Python (and HTML) but a good guy on Udemy helped out. </h0>
<br>
<h0>This is a password generator. There are a few customization features. Hope it helps!!!</h0>