<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

#div is a good way to organize code in HTML
<div class="container text-center">

<h1>Password Generator</h1>


<form action="{% url 'password' %}">
    <select name = 'length'>
        <option value ="6">6</option>
        <option value ="7">7</option>
        <option value ="8">8</option>
        <option value ="9">9</option>
        <option value ="10" selected = "selected">10</option>
        <option value ="11">11</option>
        <option value ="12">12</option>
    </select> Length
    <br>
    <input type = "checkbox" name = "uppercase"> Uppercase
    <br>
    <input type = "checkbox" name = "numbers"> Numbers
    <br>
    <input type = "checkbox" name = "special characters"> Special characters
    <br>
    <input type="submit" value="Generate Password" class = "btn btn-primary">

</form>

<a href = "{% url 'about us' %}" class="btn btn-warning">ABOUT US</a>
</div>